@page "/expediente/{Id:int?}/editar"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject ExpedienteCompartido ExpedienteSeleccionado;

<h3>Modificando el Expediente "@ExpedienteSeleccionado.e.Id"</h3>
@*Puede ser caratula o estado*@
@code{

}