@page "/Login"
@rendermode InteractiveServer
@using CGE.Aplicacion
@inject CasoDeUsoSignIn CasoDeUsoSignIn
@inject ServicioSesion servicioSesion

@inject NavigationManager Navegador;

<DialogoError @ref=dialogo />

<h1>Inicio de Sesi칩n</h1>

<div class="form-group">
    <input type="text" placeholder="Correo" @bind="mail" class="form-control">
</div>
<div class="form-group">
    <input type="password" placeholder="Contrase침a" @bind="password" class="form-control">
</div>
<div class="advertencia">
    @textoAdvertencia
</div>
<div class="d-flex justify-content-between mb-3">
    <button @onclick="Aceptar">Iniciar Sesi칩n</button>
</div>

@code {
    string mail = "";
    string password = "";
    DialogoError dialogo = null!;

    private string textoAdvertencia = " ";

    void Aceptar()
    {

        if ((string.IsNullOrEmpty(mail) || string.IsNullOrEmpty(password)))
        {
            textoAdvertencia = "Complete todos los campos";
            StateHasChanged();
            return;
        }

        Usuario? usuario = CasoDeUsoSignIn.Ejecutar(mail, password);

        if (usuario != null)
        {
            servicioSesion.UsuarioLogged = usuario;
            servicioSesion.Conectado = true;
            Navegador.NavigateTo("/");
        }
        else
        {
            textoAdvertencia = "Correo o contrase침a incorrectos";
            StateHasChanged();
        }
    }
}