@page "/Login"
@inject NavigationManager navegador;
@inject CasoDeUsoSignIn CasoDeUsoSignIn
@rendermode InteractiveServer
@using CGE.Aplicacion
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage
@using System.Text.Json

<DialogoError @ref=dialogo/>

<h1>Inicio de Sesi칩n</h1>

<form>
    <div class="form-group">
        <input type="text" placeholder="Correo" @bind="mail" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Contrase침a" @bind="password" class="form-control">
    </div>
    <div class="advertencia">
        @textoAdvertencia
    </div>
    <div class="d-flex justify-content-between mb-3">
        <button @onclick="Aceptar">Iniciar Sesi칩n</button>
    </div>
</form>

@code {
    string mail = "";
    string password = "";
    DialogoError dialogo = null!;

    private string textoAdvertencia = " ";

    async Task Save(bool esAdmin, int userId, List<Permiso> permisos) {
        await sessionStorage.SetAsync("userId", userId);
        await sessionStorage.SetAsync("esAdmin", esAdmin);
        @* Serializo los permisos en un JSON para poder pasarlos entre p치ginas. Al revisarlos deben ser deserializados. *@
        var permisosJson = JsonSerializer.Serialize(permisos);
        await sessionStorage.SetAsync("permisos", permisosJson);
    }

    async Task Aceptar(){

        if ((string.IsNullOrEmpty(mail) || string.IsNullOrEmpty(password))) {
            textoAdvertencia = "Complete todos los campos";
            StateHasChanged();
            return;
        }

        Usuario? usuario = CasoDeUsoSignIn.Ejecutar(mail, password);

        if (usuario != null){
            if(usuario.id == 1)
            {
                await Save(true, usuario.id, usuario.permisos);
            }
            else{
                await Save(false, usuario.id, usuario.permisos);
            }
            navegador.NavigateTo("/");
        }
    }
}