@page "/SignUp"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@using CGE.Aplicacion
@inject CasoDeUsoUsuarioAlta CasoDeUsoUsuarioAlta

<PageTitle>Registrarse</PageTitle>

<input placeholder="Nombre" @bind="p.nombre" /><br>
<input placeholder="Apellido" @bind="p.apellido" /><br>
<input placeholder="Email" @bind="p.email" /><br>
<input placeholder="Contraseña" @bind="p.contraseña" /><br>
<button @onclick="Registrarse">Aceptar</button>

@code{
    Usuario p = new Usuario();
    void Registrarse()
    {
        CasoDeUsoUsuarioAlta.EjecutarAltaUsuario(p);
        Navegador.NavigateTo("listadousuarios");
    }
}