@inject ServicioSesion servicioSesion

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SeminarioApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (shouldDisplay) 
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="listadousuarios" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Usuarios
                </NavLink>
            </div>
        }
        @if (shouldDisplayUser)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="listadoexpedientes" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Expedientes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="listadotramites" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tramites
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@($"{servicioSesion.UsuarioLogged.id}/perfil")" Match="NavLinkMatch.All">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Perfil
                </NavLink>
            </div>
        }
    </nav>
</div>

@code{
    private bool shouldDisplay = false;

    private bool shouldDisplayUser = false;

    protected override void OnInitialized()
    {
        if ((servicioSesion.Conectado) || (servicioSesion.UsuarioLogged != null))
        {
            shouldDisplayUser = true;
            if(servicioSesion.UsuarioLogged.id == 1){
                shouldDisplay = true;
            }
            StateHasChanged();
        }
    }
}